body {
 font: 17px/1.5 "HelveticaNeue-CondensedBold", "Helvetica Neue", "Arial Narrow", Arial, sans-serif;
 color: #333;
 padding: 20px 0;
}

.footer {
  color: #777;
  font: 13px/1.5 Helvetica, Arial, sans-serif;
  text-indent: 9px;
}

.navbar {
  margin-bottom: 20px;
}

.project-name {
  font-size: 35px;
}
