body {
  font: 15px/1.5 Helvetica, sans-serif;
  color: #333;
}

.header, .container {
  margin: 0 auto;
  width: 1137px;
}

.container {
  margin-top: .6em;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px
}

.header img {
  margin-top: 1em;
  height: 2.5em;
}

.header a.slogan {
  color: #777;
  font-style: italic;
  font-weight: 600;
  width: 40%;
  text-align: right;
  display: inline-block;
}

.header a.logo {
  text-decoration: none;
  width: 56%;
  display: inline-block;
}

form {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

form input {
  font-size: 18px;
  width: 95%;
  padding: 5px 3px;
  border: 0;
  border-bottom: 1px solid #999;
  outline: 0;
  background: transparent;
}

.main {
  width: 95%;
  margin: 1em auto;
  position: relative;
}

.main .description {
  font-size: 17px;
  padding: 20px 0;
}


.footer {
  padding: 10px 0;
  color: #777;
}

.footer a {
  color: #777;
  text-decoration: underline
}

.footer a :hover {
  color: #777
}

.footer a :visited {
  color: #777
}
